<style>
    .rounded{
        border-radius: 15px !important;
        background-color: #fafafa;
    }
</style>

<div class="container px-2 py-5 d-flex justify-content-around ">
    <div class="container  border justify-content-center p-3 rounded mx-2 mx-2" >
        <i class="fa fa-star my-2" style="font-size: 18pt;" aria-hidden="true"></i>
        <div class="d-flex flex-column justify-content-center">
            <h4 class="">{{priority_tasks_complete}}/{{priority_tasks}}</h4>

            <span class="text-muted">Priority Tasks</span>
        </div>
    </div>

    <div class="container  border justify-content-center p-3 rounded mx-2" >
        <i class="fas fa-clipboard my-2" style="font-size: 18pt;" aria-hidden="true"></i>
        <div class="d-flex flex-column justify-content-center">
            <h4 class="">{{pending_tasks}}</h4>
    
            <span class="text-muted">Pending Tasks</span>
        </div>
    </div>

    <div class="container  border justify-content-center p-3 rounded mx-2" >
        <i class="fa fa-hourglass my-2" style="font-size: 18pt;" aria-hidden="true"></i>
        <div class="d-flex flex-column justify-content-center">
            <h4 class="">{{overdue_tasks}}</h4>
    
            <span class="text-muted">Overdue Tasks</span>
        </div>
    </div>

    <!-- <div class="container  border justify-content-center p-3 rounded mx-2" >
        <i class="fa fa-hourglass my-2" style="font-size: 18pt;" aria-hidden="true"></i>
        <div class="d-flex flex-column justify-content-center">
            <h4 class="">10/10</h4>
    
            <span class="text-muted">Priority Tasks</span>
        </div>
    </div> -->
    
</div>