<style>


    .events-container {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        width: 350px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .month-title {
        margin-top: 20px;
        font-size: 16px;
        color: #595858;
    }

    .event {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        position: relative;
    }

    .date {
        font-size: 18px;
        color: grey;
        margin-right: 10px;
        width: 60px;
        text-align: center;
    }

    .details {
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .location {
        font-size: 12px;
        color: gray;
    }

    .view-btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 8px 25px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
    }

    .view-btn:hover {
        background-color: #0056b3;
    }

    .line {
        height: 60px;
        width: 1px;
        background-color: lightgray;
        margin-left: 10px;
        margin-right: 10px;
    }

    .event .line {
        display: block;
    }
</style>

<div class="events-container">
    <h2>Deadlines</h2>
    {% for task in tasks %}
    <div class="event">
        <div class="date" style="width: 30px;">{{task.end_date|date:"d M"}}</div>
        <div class="line"></div>
        <div class="details">
            <p class="title">{{task.title}}</p>
            <p class="location">Status: {{task.status}}</p>
        </div>
        <button class="view-btn">View</button>
        </div>
    {% endfor %}
    
</div>