<style>
    .events-container {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        width: 350px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .month-title {
        margin-top: 20px;
        font-size: 16px;
        color: #595858;
    }

    .event {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        position: relative;
    }

    .date {
        font-size: 18px;
        color: grey;
        margin-right: 10px;
        width: 60px;
        text-align: center;
    }

    .details {
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .location {
        font-size: 12px;
        color: gray;
    }

    .view-btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 8px 25px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
    }

    .view-btn:hover {
        background-color: #0056b3;
    }

    .line {
        height: 60px;
        width: 1px;
        background-color: lightgray;
        margin-left: 10px;
        margin-right: 10px;
    }

    .event .line {
        display: block;
    }
</style>

{% if whiteboards or meetings %}
<div class="events-container">
    <h2>Tools</h2>
    {% for board in whiteboards %}
        <div class="bg-light p-2 rounded my-1"> <a class="text-primary" href="https://miro.com/app/board/{{board.board_id}}">View Whiteboard</a> </div>
    {% endfor %}
    {% for meet in meetings %}
    <div class="bg-light p-2 rounded my-1"> <a class="text-primary" href="https://meet.jit.si/{{meet.meet_id}}#config.prejoinPageEnabled=false&userInfo.displayName=Moderator">View
            Meet</a> </div>
    {% endfor %}

</div>
{% endif %}